.topic-posts{
  width: 100%;
  $padding_topic_posts: 8px 16px 8px 16px;
  padding: $padding_topic_posts;
  background-color: $white; //#ffffff
}
.postCard{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .card{
    $margin: 8px;
    margin: $margin;
  }
}
