 <h1> Lisitng posts</h1>


 <% @posts.each do |post| %>
<table>
  <tr>
    <td> <b>Author:</b> <%= post.author %></td>
  </tr>
  <tr>
    <td><b>Title:</b> <%= post.title %></td>
  </tr>
  <tr>
    <td><b>Text:</b> <%= post.text %></td>
  </tr>
   <br>

</table>
 <% end %>
